.donate-form {
    margin-top:20px;
  }
  
  .display-hide {
    display:none;
  }
  
  .dashboardNav {
    padding: 30px;
    border-bottom: 1px solid black;
    background-color:rgb(151, 233, 151);

  }
  
  .dashboard-a:hover {
    background-color:rgb(151, 233, 151);
  
  }
  
  .hide-content {
    display: none;
  }
  
  #dashboard-content {
    padding-top:20px;
  }
  
  /* The Modal Background */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .project-description {
      font-family: 'Mandali', sans-serif;
      line-height: 1.5;
      font-size:15px;
      
  }

    /* The Modal Background */
    .modal2 {
        display: none; 
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
      }
      
      /* Modal Content */
      .modal-content2 {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
      }
      
      /* The Close Button */
      .close2 {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close2:hover,
      .close2:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

      .dash-font {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

  