/* ======= Home Page =======*/

/* page sections */
.landing {
  height:100vh;
  background-image: url(https://www.solvay.com/sites/g/files/srpend221/files/styles/header/https/media.solvay.com/medias/domain1446/media403/61160-8sbe5pbpfw.jpg?itok=J8bcCEpd);
  background-size: cover;
  
}

.mission {
  height: 100vh;
}

.footer {
  height: 20vh;
  background-color: grey;
}

/* nav */
.login-btn {
  color: black;
}

.register-btn {
  color:black;
}

/*removable display none*/
.none-hide {
  visibility: hidden;
}

.fade-in {
  -webkit-animation: fade1 3s;
}

@keyframes fade1 {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* animate stat */
.home-stat {
  color:white;
}


.ml9 {
  position: relative;
  font-weight: 500;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

/*stat styling */
.stat-host {
  padding-top:210px;
}

.home-stat {
  font-size: 60px;
  opacity:1;
}

/* scroll button styling */
.scroll-btn-host {
  padding-top:85px;
}

.scroll-btn {
  color:white;
  border: solid 1px white;
  padding: 20px;
  border-radius: 30%;
}

.scroll-btn:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: black;
}

/* mission section */
.mission-host-img {
  padding-top: 60px;
}

.mission-host-text {
  padding-top: 110px;
}

.mission-img {
  height:12em;
  width:.01em;
  border-radius: 50%;
}

.btn-paragraph {
  padding-top:60px;
}

.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.catch-phrase {
  font-size: 30px;
}

.movement-btn-host {
  padding-top:40px;
}

.movement-btn {
  color:black;
  border:solid 1px black;
  padding:20px;
}

.movement-btn:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: black;
  color:white;
}



/* Dashboard */
.list-group-item {
  line-height: 2.5;
}


.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: black; 
   border-right:solid 1px black;
}
.nav-side-menu .brand {
  background-color: white;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  /* float: right; */
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid black;
  background-color: white;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: green;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: green;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: white;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: white;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: black;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid green;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: white;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
  	width:calc(100% - 300px);
  	float: right;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

#profileImageSideBar{
  border-radius: 50%;
  width: 70%;

}

#sidebarName {
  font-size: 20pt;
}

.donate-form {
  margin-top:20px;
}

.display-hide {
  display:none;
}

.dashboardNav {
  padding: 30px;
  border-bottom: 1px solid black;
  background-color:green;
}

.dashboard-a:hover {
  background-color:gold;

}

.hide-content {
  display: none;
}

#dashboard-content {
  padding-top:20px;
}


@media screen and (max-width:767px){
  #profileImageSideBar {
    display: none;
  }
  }